@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  background: hsl(230, 17%, 14%);
}

.dashboard{
  display: grid;
  row-gap: 1rem;
  margin: 0 1rem 0 1rem;
}

.header{
  margin: 1rem 0 0.25rem 0;
  color: white;
}

.sub-header{
  margin: 0 0 1rem 0;
  color: rgba(255, 255, 255, 0.527);
}

hr{
  margin: 0;
}

.darkmode{
 display: grid;
 grid-template-columns: 1fr auto;
}

.darkmode p{
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.527);
  margin: 0.25rem 0 0 0;
  font-weight: bold;
}

.dashboard-account{
  display: grid;
  background: hsl(228, 28%, 20%);
  grid-template-columns: 1fr auto 1fr;
  border-radius: 0.3rem;;
  grid-template-areas: "line line line"
                       " .   icon  ."
                       " .   amount  ."
                       " .   diff  .";
  text-align: center;
  row-gap: 1rem;
}

.dashboard-account__colorline{
  height: 0.2rem;
  border-radius: 0.3rem 0.3rem 0 0;
  grid-area: line;
}

.facebook{
  background: hsl(208, 92%, 53%);
}

.twitter{
  background: hsl(203, 89%, 53%);
}

.instagram{
  background: linear-gradient(to right,hsl(37, 97%, 70%) 0%,hsl(329, 70%, 58%) 100%);
}

.youtube{
  background: hsl(348, 97%, 39%);
}

.dashboard-account__icon{
  grid-area: icon;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center; 
}

.dashboard-account__icon a{
  margin: 0.3rem 0.4rem 0 0;
}

.dashboard-account__icon p{
  color: hsl(228, 34%, 66%);
  font-weight: bold;
  font-size: 0.6rem;
}

.dashboard-account__diff{
  grid-area: diff;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 0 0 1rem 0; 
}

.dashboard-account__diff p{
  margin: 0;
  color: hsl(163, 72%, 41%);
  font-size: 0.8rem;
  font-weight: bold;
}

#decrease{
  color: hsl(356, 69%, 56%);
}

.dashboard-account__diff a{
  padding: 0.3rem 0 0 0;
  margin: 0 0.2rem 0 0;
}

.followers-amount{
  grid-area: amount;
}

.amount{
  color: white;
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}

.followers{
  color: hsl(228, 34%, 66%);
  margin: 0;
  letter-spacing: 0.3rem;
}

.dashboard-overview h4{
  font-size: 0.875;
  color: white;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}


/* Arrow */
.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid hsl(163, 72%, 41%);
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid hsl(356, 69%, 56%);
}

/* switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(290, 85%, 55%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: hsl(230, 17%, 14%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(230, 22%, 74%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

